/* Google Font - Tinos Static  */
@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Color palette */
:root {
  --ultra-light: #fbffe4;
  --light: #a3d1c6;
  --regular: #b3d8a8;
  --accent: #3d8d7a;
  --git-purple: #6e5494;
}

body {
  font-family: "Tinos", Helvetica, sans-serif;
  background-color: var(--ultra-light);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: var(--light);
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 56.25rem;
  text-align: center;
}

.main-container h1 {
  font-weight: 900;
  font-size: 2.25rem;
}

.app-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

.cash-drawer {
  flex: 1;
  background-color: var(--regular);
  padding: 0.94rem;
  border-radius: 0.5rem;
}

.cash-drawer #price {
  background-color: var(--ultra-light);
  color: black;
  padding: 0.625rem;
  border-radius: 0.32rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.drawer-details {
  background-color: var(--ultra-light);
  color: black;
  padding: 0.625rem;
  border-radius: 0.2rem;
  margin-top: 0.625rem;
  text-align: left;
}

.input-container {
  flex: 1;
  background-color: var(--regular);
  padding: 0.94rem;
  border-radius: 0.5rem;
  text-align: center;
}

.input-field {
  width: 80%;
  padding: 0.625rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.32rem;
  background-color: var(--ultra-light);
  border: 0.0625rem solid #ccc;
}

.purchase-button {
  width: 85%;
  padding: 0.625rem;
  background-color: var(--accent);
  color: black;
  border: none;
  border-radius: 0.32rem;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: var(--git-purple);
}

.result-text {
  font-weight: bold;
  margin-top: 0.625rem;
}
