/* Google Font - Farsan Static */
@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

/* Color palette */
:root {
  --background: #a4a4a4;
  --git-purple: #6e5494;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background + font */
body {
  font-size: 1.2rem;
  font-family: "Farsan", Helvetica, sans-serif;
  background-color: var(--background);
}

/* Centering the app */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* App container */
.app {
  padding: 2rem;
  background-color: var(--git-purple);
  border-radius: 0.6rem;
  position: relative;
  z-index: 2;
}

/* Stats container */
.pokemon-info {
  background-color: #ccc;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
footer {
  padding: 0.7rem 0;
  background-color: transparent;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer-a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer-a:hover {
  color: var(--git-purple);
}

.footer-a:active {
  color: red;
}
