/* TODO: 
- Change Font
- Change color palette
*/

/* Google Font - Farsan Static */
@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

/* Color palette */
:root {
  --white: #ffffff;
  --black: #000000;
  --app-color: #357af6;
  --cream-color: #fdf9e4;
  --git-purple: #6e5494;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Farsan", Helvetica, sans-serif;
  background-color: var(--cream-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  padding: 2rem;
  background-color: var(--app-color);
  border-radius: 0.7rem;
  outline: 3px solid black;
  position: relative;
  z-index: 2;
}

.search-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.search-form h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black);
}

.search-form label {
  font-size: 1.6rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  gap: 0.5rem;
}

#search-input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
}

#search-button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-color: var(--git-purple);
  color: var(--white);
  cursor: pointer;
}

#search-button:hover {
  background-color: var(--cream-color);
  color: var(--black);
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

table {
  max-height: 16rem;
  flex: 1;
  border-radius: 0.8rem;
  min-width: 18.75rem;
  max-width: 28.125rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1rem;
  color: black;
  background-color: var(--white);
  outline: 2px solid black;
}

th:nth-child(even),
td:nth-child(even) {
  border-left: 2px solid var(--black);
}

tr {
  border-bottom: 2px solid var(--black);
}

tr:last-of-type {
  border-bottom: none;
}

td,
th {
  text-align: center;
  padding: 0.5rem;
}

.pokemon-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 18.75rem;
  max-width: 28.125rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  outline: 2px solid var(--black);
  min-height: 16rem;
}

img {
  display: block;
}

/* Media queries for smaller screens */
@media (min-width: 768px) {
  .content-container {
    align-items: stretch;
  }
  table,
  .pokemon-info {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .content-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  table,
  .pokemon-info {
    width: 100%;
    max-width: 25rem;
    min-height: 0;
  }
}

/* Pokémon types */
.normal {
  background-color: #b7b7aa;
}

.fire {
  background-color: #ff6f52;
}

.water {
  background-color: #42a1ff;
}

.electric {
  background-color: #fecc33;
}

.grass {
  background-color: #78cc55;
}

.ice {
  background-color: #66ccfe;
}

.fighting {
  background-color: #d3887e;
}

.poison {
  background-color: #c68bb7;
}

.ground {
  background-color: #dfba52;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ff66a3;
}

.bug {
  background-color: #aabb23;
}

.rock {
  background-color: #baaa66;
}

.ghost {
  background-color: #9995d0;
}

.dragon {
  background-color: #9e93f1;
}

.dark {
  background-color: #b59682;
}

.steel {
  background-color: #abaabb;
}

.fairy {
  background-color: #ed99ed;
}
