* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 10%,
    rgba(200, 150, 200, 0.4) 35%,
    rgba(150, 200, 230, 0.4) 60%,
    rgba(255, 255, 255, 1) 90%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
