/* Color palette variables */
:root {
  --color-1: #183642;
  --color-2: #313d5a;
  --color-3: #cbc5ea;
  --color-4: #73628a;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-1);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #313d5a;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #cbc5ea;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #cbc5ea;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #cbc5ea;
  color: #000;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #73628a;
  color: #000;
}
