/* Importing Libre Franklin font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET + Font */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Libre Franklin", Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
}


html {
    background-color: beige;
}

/* !Must be centered, resize responsively,  */
img {
    width: 400px;
    height: 360px;
    max-width: fit-content;
    max-height: fit-content;
}


/* !Customize the link */
#tribute-link {
    color: red;
}