/* Color palette variables */
:root {
    --primary-color: #22e81c; 
    --primary-color-2: #55eb44;
    --primary-color-3: #74ef60;
    --dark-color: #121212;
    --dark-color-2: #282828; 
    --dark-color-3: #3f3f3f;

}

/* CSS Reset + font + smooth scroll */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}

/* Navbar */
#nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--dark-color-2);
}
  
#nav li {
    float:right;
}
  
.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#nav li a:hover {
    background-color: #111;
}

#welcome-section {
    border: 2px orange solid;
    background-color: #3f3f3f;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 2px red solid;
}







/* Footer */
#footer {
    padding: 0.7rem 0 0.7rem 0;
    background-color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-a {
    text-decoration: none;
}

/* Reduced scroll motion */
@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}