/* TODO: add font, hint for the user and footer */

/* Color palette */
:root {
  --grey: #ffffff1a;
  --black: #000000;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  background-color: rgb(146, 146, 146);
  font-family: Helvetica, sans-serif;
}

/* Phone container */
.phone-outline {
  background-color: var(--black);
  border-radius: 2rem;
  width: 18rem;
  height: 32rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5),
    inset 0rem 0.25rem 0.5rem var(--grey);
  border: 0.2rem solid var(--grey);
}

/* Phone speaker lip */
.phone-lip {
  background-color: var(--black);
  width: 7rem;
  height: 1.1rem;
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Screen */
.phone-monitor {
  background: linear-gradient(to bottom, #ffffff, #dedede);
  width: 16rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  z-index: 2;
  box-shadow: inset 0rem 1.25rem 2.5rem rgba(0, 0, 0, 0.3);
}

/* Left side Buttons */
.side-button-top {
  position: absolute;
  left: -0.3rem;
  top: 3.5rem;
  width: 0.2rem;
  height: 1.5rem;
  background: var(--black);
  border-radius: 0.3125rem;
}

.side-button-middle {
  position: absolute;
  left: -0.3rem;
  top: 6rem;
  width: 0.2rem;
  height: 2rem;
  background: var(--black);
  border-radius: 0.3rem;
}

.side-button-bottom {
  position: absolute;
  left: -0.3rem;
  width: 0.2rem;
  top: 8.5rem;
  height: 2rem;
  background: var(--black);
  border-radius: 0.3rem;
}

/* Right power button */
.volume-button {
  position: absolute;
  right: -0.3rem;
  top: 6rem;
  width: 0.2rem;
  height: 3.7rem;
  background: var(--black);
  border-radius: 0.3rem;
}

/* App inside the mockup */
h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 2.5rem;
}

#user-input {
  padding: 0.75rem 0.75rem 0.4rem 0.75rem;
  margin: 0 auto;
  display: block;
  width: 85%;
  border: none;
  border-bottom: 2px solid var(--black);
  background: transparent;
  outline: none;
  font-size: 1.2rem;
}

#user-input::placeholder {
  font-size: 0.9rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.7rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: 5.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background-color: black;
  color: white;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.03);
}

button:active {
  transition: transform 0.1s;
  transform: scale(1.01);
}

#results-div {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 1.1rem;
}

/* Info box below the app */
.info-box {
  position: absolute;
  bottom: 1rem; /* Keeps it near the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-box h3 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.info-box h3::before {
  content: "💡";
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
}

/* Hide element */
.hidden {
  display: none;
}

/* Removes the arrows on the side of the input: Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox specific*/
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
